*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #faf4f2;
}
.clear{
    clear: both;
}
.header{
    background-color: #faf4f2;
    padding: 20px;
    /* padding: 10px 30px; y x */
    /* padding: 10px 20px 30px 40px;  top right  bottom left*/

}
.header .navbar{
    margin-top: 10px;
}
/* inline (E) trái phải # trên dưới của margin */
.header .logo img{
    width: 70px;
}
.header .navbar a{
    color: black;
    font-size: 25px;
    /* margin: 20px; */
    margin-right: 20px;
    text-decoration: none;
    /* padding-right: 20px; */
}
.header .navbar a:hover{color: rgb(224, 44, 44);}

.carousel{
   background-image: url('../img/BG.png');
   height: 1000px;
  
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left  ;
}

.activities{
    padding: 70px 0;

}
.activities .title{
    text-align: center;
}
.activities .title h1{
    color: gray;
    font-size: 40px;
    font-weight: bold;
}

.activities .main  .col{
    float: left;
    width: 25%;
    padding: 0 10px;
    /* border: 1px solid red; */
    /* k cong don` kich thuoc */
    box-sizing: border-box;
    margin-bottom: 20px;

}
.activities .main .item{
    background-color: #ffffff;
    text-align: center;
    padding: 30px ;
    border-radius: 20px ;
}
.activities .main .item .thumbnail img{
    width: 100%;
    border-radius: 30px;
    
}
.activities .main  h1{
    font-size: 20px;
    margin-bottom: 20px;
}
.activities .main{
    text-align: center;
}
.activities .main  p{
    margin-bottom: 20px;
    color: gray;
    line-height: 25px;
}
.activities .main  a{
    background-color: #e8e8e8;
    border-radius: 50px;
    color: #8d8d8d;
    text-decoration: none;
   
    padding: 10px 50px;
    display: inline-block;
    
}
.activities .main  button{
color: #e76f51;
/* border-color: #e76f51 ; */
border: 1px solid #e76f51;
background-color: transparent;
padding: 15px 50px;
border-radius: 50px;
margin-top: 50px;
}
.activities .main .thumbnail{
    position: relative;
}
.activities .main .thumbnail i {
    font-size: 20px;
    

    color: red;
/* position: absolute(dựa vào thẻ cha), relative(di chuyen tu vi tri hien tai), fixed; */
/* position: relative;
uu tien top left 
top: 100px;
left: 110px;
right: 0;
bottom: 300px; */
position: absolute;
/* top: 1px;
left: 1px; */
top: 20px;
right: 20px;
/* background-color: #f4e9eb; */
width: 40px;
height: 40px;
border-radius: 10px;
line-height: 35px;
background-color: rgba(255, 255, 255,0.5);

}
.contact{
    display: flex;
    justify-content: space-between;
}
.contact .conus{
    display: flex;
    
}
.contact .conus img{
    margin-top: 22px;
}
.contact .stay h1{
    color: #8d8d8d;
}
.contact .stay p{
    color: #8d8d8d;
    font-weight: 500;
}
.contact .conus i{
    margin-top:  22px;
    color: #e76f51;
}
.contact .conus .app h3{
    color: #8d8d8d;
    
}
.contact .conus .follow h3{
    color: #8d8d8d;
    
}
.contact .conus{
    margin-top: 30px;
}
.contact{
    margin-top: 40px;
    background-color: hsl(12deg 67% 92%);
    padding-top: 50px;
}
.contact .logo{
    margin-right: 100px;
}
 .footer{
    display: flex;
    justify-content: space-around;
    margin-top: 120px;
    background-color: hsl(12deg 67% 92%);
  
    padding-top: 40px ;
    border-radius: 100px 100px 0px 0px;
 }
 .footer p{
     font-size: 20px;
 }
 .footer .a {
     width: 40%;
 }
 .footer h1{
     margin-bottom: 40px;
 }
 .footer .b p{
     line-height: 30px;
 }
 .footer .c p{
    line-height: 30px;
} .footer .d p{
    line-height: 30px;
}
.footer .clear{
    clear: both;
}
.copy{
    background-color: #f8e2dd;
    line-height: 100px;
    text-align: center;
    font-size: 19px;
}